<div class="main-container">
  <div class="content-container">
    <mat-toolbar color="primary">
      <div class="gmail-logo-container">
        <img src="https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_256px.png" alt="Gmail Logo" class="gmail-logo-img">
        <span class="gmail-logo-text">Gmail Replica</span>
      </div>

      <div class="search-box">
        <mat-icon class="search-icon">search</mat-icon>
        <input matInput placeholder="Search mail">
      </div>

      <div class="nav-icons">
        <button mat-icon-button aria-label="Google apps">
          <mat-icon>apps</mat-icon>
        </button>
        <button mat-icon-button aria-label="Settings">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button aria-label="Help">
          <mat-icon>help_outline</mat-icon>
        </button>
        <button mat-icon-button aria-label="Account">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <app-sidenav></app-sidenav>
  </div>
</div>